In [5]:
import pandas as pd
import pyarrow.parquet as pq

from sqlalchemy import create_engine

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

taxi_data = "green_tripdata_2025-11.parquet"
df_taxi = pd.read_parquet(taxi_data)
df_taxi.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

zones_data = 'taxi_zone_lookup.csv'
df_zones = pd.read_csv(zone_data)
df_zones.to_sql(name='taxi_zones', con=engine, if_exists='replace')

265

In [15]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [16]:
# Create a Parquet file object
parquet_file = pq.ParquetFile(taxi_data)

# Iterate through batches
for batch in parquet_file.iter_batches(batch_size=100000):
    # Convert the batch to a pandas DataFrame
    chunk = batch.to_pandas()
    
    # Apply your type conversions here if needed
    chunk = chunk.astype(dtype)
    
    # Now send to SQL
    chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [17]:
len(df_taxi)

46912